In [21]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [22]:
book=pd.read_csv('books.csv',encoding='ISO-8859-1')
book

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [23]:
books=book.iloc[:,1:]
books

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [24]:
len(books['User.ID'].unique())

2182

In [25]:
len(books['Book.Title'].unique())

9659

In [26]:
user=pd.pivot_table(data=books,index=['User.ID'],columns=['Book.Title'],values=['Book.Rating'])
user

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
User.ID
8                           NaN                                        NaN
9                           NaN                                        NaN
10                          NaN                                        NaN
12                          NaN                                        NaN
14                          NaN                                        NaN
...                         ...                                        ...
278846                      NaN                                        NaN
278849                      NaN                                        NaN
278851                      NaN                                        NaN
278852                      NaN                                        NaN
278854                      NaN                                        NaN

                                          \
Book.Title  Repairing PC Drives &amp '48
User.ID
8                                NaN NaN
9                                NaN NaN
10                               NaN NaN
12                               NaN NaN
14                               NaN NaN
...                              ...  ..
278846                           NaN NaN
278849                           NaN NaN
278851                           NaN NaN
278852                           NaN NaN
278854                           NaN NaN

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                \
Book.Title 01-01-00: A Novel of the Millennium
User.ID
8                                          NaN
9                                          NaN
10                                         NaN
12                                         NaN
14                                         NaN
...                                        ...
278846                                     NaN
278849                                     NaN
278851                                     NaN
278852                                     NaN
278854                                     NaN

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
User.ID
8                                         NaN                       NaN
9                                         NaN                       NaN
10                                        NaN                       NaN
12                                        NaN                       NaN
14                                        NaN                       NaN
...                                       ...                       ...
278846                                    NaN                       NaN
278849                                    NaN                       NaN
278851                                    NaN                       NaN
278852                                    NaN                       NaN
278854                                    NaN                       NaN

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
User.ID                                            ...
8                                             NaN  ...
9                                             NaN  ...
10                                            NaN  ...
12                                            NaN  ...
14                                            NaN  ...
...                                           ...  ...
278846                                        NaN  ...
278849                                        NaN  ...
278851                                        NaN  ...
278852                                        NaN  ...
278854                                        NaN  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
User.ID
8                                      NaN               NaN
9                                      NaN               NaN
10                                     NaN               NaN
12                                     NaN               NaN
14                                     NaN               NaN
...                                    ...               ...
278846                                 NaN               NaN
278849                                 NaN               NaN
278851                                 NaN               NaN
278852                                 NaN               NaN
278854                                 NaN               NaN

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
User.ID
8                                             NaN                     NaN
9                                             NaN                     NaN
10                                            NaN                     NaN
12                                            NaN                     NaN
14                                            NaN                     NaN
...                                           ...                     ...
278846                                        NaN                     NaN
278849                                        NaN                     NaN
278851                                        NaN                     7.0
278852                                        NaN                     NaN
278854                                        NaN                     NaN


Book.Title stardust Ãƒ?Ã‚?bermorgen.
User.ID
8               NaN            NaN
9               NaN            NaN
10              NaN            NaN
12              NaN            NaN
14              NaN            NaN
...             ...            ...
278846          NaN            NaN
278849          NaN            NaN
278851          NaN            NaN
278852          NaN            NaN
278854          NaN            NaN

[2182 rows x 9659 columns]

In [27]:
df_user=books['User.ID'].unique()
df_user

array([276726, 276729, 276736, ..., 162113, 162121, 162129])

In [28]:
df_userid=pd.DataFrame(df_user,columns=['UserId'])
df_userid

      UserId
0     276726
1     276729
2     276736
3     276737
4     276744
...      ...
2177  162107
2178  162109
2179  162113
2180  162121
2181  162129

[2182 rows x 1 columns]

In [29]:
df_user1=df_userid.sort_values('UserId')
df_user1

     UserId
625       8
626       9
627      10
628      12
629      14
..      ...
620  278846
621  278849
622  278851
623  278852
624  278854

[2182 rows x 1 columns]

In [30]:
user.index=df_user1.UserId.unique()
user

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
8                           NaN                                        NaN
9                           NaN                                        NaN
10                          NaN                                        NaN
12                          NaN                                        NaN
14                          NaN                                        NaN
...                         ...                                        ...
278846                      NaN                                        NaN
278849                      NaN                                        NaN
278851                      NaN                                        NaN
278852                      NaN                                        NaN
278854                      NaN                                        NaN

                                          \
Book.Title  Repairing PC Drives &amp '48
8                                NaN NaN
9                                NaN NaN
10                               NaN NaN
12                               NaN NaN
14                               NaN NaN
...                              ...  ..
278846                           NaN NaN
278849                           NaN NaN
278851                           NaN NaN
278852                           NaN NaN
278854                           NaN NaN

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                \
Book.Title 01-01-00: A Novel of the Millennium
8                                          NaN
9                                          NaN
10                                         NaN
12                                         NaN
14                                         NaN
...                                        ...
278846                                     NaN
278849                                     NaN
278851                                     NaN
278852                                     NaN
278854                                     NaN

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
8                                         NaN                       NaN
9                                         NaN                       NaN
10                                        NaN                       NaN
12                                        NaN                       NaN
14                                        NaN                       NaN
...                                       ...                       ...
278846                                    NaN                       NaN
278849                                    NaN                       NaN
278851                                    NaN                       NaN
278852                                    NaN                       NaN
278854                                    NaN                       NaN

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
8                                             NaN  ...
9                                             NaN  ...
10                                            NaN  ...
12                                            NaN  ...
14                                            NaN  ...
...                                           ...  ...
278846                                        NaN  ...
278849                                        NaN  ...
278851                                        NaN  ...
278852                                        NaN  ...
278854                                        NaN  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
8                                      NaN               NaN
9                                      NaN               NaN
10                                     NaN               NaN
12                                     NaN               NaN
14                                     NaN               NaN
...                                    ...               ...
278846                                 NaN               NaN
278849                                 NaN               NaN
278851                                 NaN               NaN
278852                                 NaN               NaN
278854                                 NaN               NaN

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
8                                             NaN                     NaN
9                                             NaN                     NaN
10                                            NaN                     NaN
12                                            NaN                     NaN
14                                            NaN                     NaN
...                                           ...                     ...
278846                                        NaN                     NaN
278849                                        NaN                     NaN
278851                                        NaN                     7.0
278852                                        NaN                     NaN
278854                                        NaN                     NaN


Book.Title stardust Ãƒ?Ã‚?bermorgen.
8               NaN            NaN
9               NaN            NaN
10              NaN            NaN
12              NaN            NaN
14              NaN            NaN
...             ...            ...
278846          NaN            NaN
278849          NaN            NaN
278851          NaN            NaN
278852          NaN            NaN
278854          NaN            NaN

[2182 rows x 9659 columns]

In [31]:
user.fillna(0,inplace=True)
user

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
8                           0.0                                        0.0
9                           0.0                                        0.0
10                          0.0                                        0.0
12                          0.0                                        0.0
14                          0.0                                        0.0
...                         ...                                        ...
278846                      0.0                                        0.0
278849                      0.0                                        0.0
278851                      0.0                                        0.0
278852                      0.0                                        0.0
278854                      0.0                                        0.0

                                           \
Book.Title  Repairing PC Drives &amp  '48
8                                0.0  0.0
9                                0.0  0.0
10                               0.0  0.0
12                               0.0  0.0
14                               0.0  0.0
...                              ...  ...
278846                           0.0  0.0
278849                           0.0  0.0
278851                           0.0  0.0
278852                           0.0  0.0
278854                           0.0  0.0

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                \
Book.Title 01-01-00: A Novel of the Millennium
8                                          0.0
9                                          0.0
10                                         0.0
12                                         0.0
14                                         0.0
...                                        ...
278846                                     0.0
278849                                     0.0
278851                                     0.0
278852                                     0.0
278854                                     0.0

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
8                                         0.0                       0.0
9                                         0.0                       0.0
10                                        0.0                       0.0
12                                        0.0                       0.0
14                                        0.0                       0.0
...                                       ...                       ...
278846                                    0.0                       0.0
278849                                    0.0                       0.0
278851                                    0.0                       0.0
278852                                    0.0                       0.0
278854                                    0.0                       0.0

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
8                                             0.0  ...
9                                             0.0  ...
10                                            0.0  ...
12                                            0.0  ...
14                                            0.0  ...
...                                           ...  ...
278846                                        0.0  ...
278849                                        0.0  ...
278851                                        0.0  ...
278852                                        0.0  ...
278854                                        0.0  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
8                                      0.0               0.0
9                                      0.0               0.0
10                                     0.0               0.0
12                                     0.0               0.0
14                                     0.0               0.0
...                                    ...               ...
278846                                 0.0               0.0
278849                                 0.0               0.0
278851                                 0.0               0.0
278852                                 0.0               0.0
278854                                 0.0               0.0

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
8                                             0.0                     0.0
9                                             0.0                     0.0
10                                            0.0                     0.0
12                                            0.0                     0.0
14                                            0.0                     0.0
...                                           ...                     ...
278846                                        0.0                     0.0
278849                                        0.0                     0.0
278851                                        0.0                     7.0
278852                                        0.0                     0.0
278854                                        0.0                     0.0


Book.Title stardust Ãƒ?Ã‚?bermorgen.
8               0.0            0.0
9               0.0            0.0
10              0.0            0.0
12              0.0            0.0
14              0.0            0.0
...             ...            ...
278846          0.0            0.0
278849          0.0            0.0
278851          0.0            0.0
278852          0.0            0.0
278854          0.0            0.0

[2182 rows x 9659 columns]

In [32]:
sim=1-pairwise_distances(user.values,metric='cosine')
sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [33]:
sim_df=pd.DataFrame(sim)
sim_df

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
sim_df.index=df_user1.UserId.unique()
sim_df.columns=df_user1.UserId.unique()

In [35]:
sim_df.iloc[0:20,0:20]

,8,9,10,12,14,16,17,19,22,26,32,39,42,44,51,53,56,64,67,69
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [36]:
np.fill_diagonal(sim,0)
sim_df.iloc[0:20,0:20]

,8,9,10,12,14,16,17,19,22,26,32,39,42,44,51,53,56,64,67,69
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
sim_df.idxmax(axis=1)[20:30]

70         8
73         8
75         8
78         8
81         8
82       882
83    276861
85      1211
86    276780
87         8
dtype: int64

In [38]:
user_1=books[(books['User.ID']==882)]
user_1

      User.ID                                         Book.Title  Book.Rating
3411      882                                    The Root Cellar           10
3412      882         AixÃƒÂ² ÃƒÂ©s RÃƒÂ dio Pica (ColÃ‚Â¨lecciÃƒÂ³ Embat)           10
3413      882                                      Jurassic Park            5
3414      882            Dress Your Family in Corduroy and Denim            9
3415      882                           Ransom (Steel, Danielle)            9
3416      882                                       Cat's Cradle            8
3417      882                                           I, Robot            5
3418      882  Drinking Coffee Elsewhere (Today Show Book Clu...            7
3419      882  Chicken Soup for the Teenage Soul II (Chicken ...           10
3420      882                                   The Husband Test           10
3421      882                                             Summer           10
3422      882                                       The Fourth K           10
3423      882  Elvis, Jesus &amp; Coca-Cola (Kinky Friedman N...           10
3424      882                              The Ship Who Searched           10
3425      882   Devil's Waltz (Alex Delaware Novels (Paperback))            9
3426      882      The Clinic (Alex Delaware Novels (Paperback))            5
3427      882                                      Hornet's Nest           10
3428      882                            The Tao of Love and Sex            9
3429      882  The Ethical Slut: A Guide to Infinite Sexual P...            7
3430      882                I, Robot:The Illustrated Screenplay            9
3431      882                                    Way Things Work            9
3432      882  CCNA: Cisco Certified Network Associate Study ...           10
3433      882  CCNA Exam Notes: Cisco Certified Network Assoc...            9
3434      882  The Western Guide to Feng Shui: Creating Balan...            6
3435      882      The Dragon Reborn (The Wheel of Time, Book 3)            6
3436      882                                            Contact            8
3437      882                 The Invisible Man (Bantam Classic)            9
3438      882                                     La casa pierde           10
3439      882                                 Resistencia humana           10
3440      882                                      Leon Africano           10
3441      882                                         Rabbit Run            5
3442      882    Murder on St. Mark's Place (Gaslight Mysteries)           10
3443      882                                     State of Grace           10
3444      882  Valsalva's Maneuver: Mots Justes and Indispens...           10
3445      882                             I love you, I hate you           10
3446      882  Soul Survivors: A New Beginning for Adults Abu...            4
3447      882                          The Temple of My Familiar           10
3448      882                  Dinner at the Homesick Restaurant            9
3449      882                         Still Life with Woodpecker           10
3450      882  Babinski Reflex: And 70 Other Useful and Amazi...           10
3451      882                                Lore of the Unicorn            5
3452      882          The 27-Ingredient Chili Con Carne Murders           10

In [39]:
user_2=books[(books['User.ID']==1211)]
user_2

      User.ID                                         Book.Title  Book.Rating
3771     1211                   Wheels Of Fire (Serrated Edge 2)            7
3772     1211                                             Cradle            9
3773     1211        Masks (Star Trek The Next Generation, No 7)            8
3774     1211                                      Damia (Rowan)            9
3775     1211                                       BLACK THRONE            8
3776     1211                                 The Cat in the Hat            8
3777     1211                        Another Roadside Attraction            9
3778     1211                                      Wall of Brass            8
3779     1211                                    Sisters in Arms            8
3780     1211                             More Die of Heartbreak            9
3781     1211                                      Shipping News            9
3782     1211  The Quotable Traveler: Wise Words for Traveler...            8
3783     1211                              STONES FROM THE RIVER            7
3784     1211  Guns, Germs, and Steel: The Fates of Human Soc...            7
3785     1211                   Hearts In Atlantis : New Fiction            7
3786     1211                                        Black House            8
3787     1211                                     Falling Angels            8
3788     1211                                     Coyote V. Acme            6
3789     1211                          Holidays on Ice : Stories            7
3790     1211  Witta: An Irish Pagan Tradition (Llewellyn's W...            9
3791     1211                                  The Pelican Brief            9
3792     1211                                        Black House            9
3793     1211                       Love Warps the Mind a Little            9
3794     1211                               Millroy the Magician           10
3795     1211       The Princess and the Pea (Loveswept, No 589)            8
3796     1211                                Book of D'ni (Myst)            6
3797     1211       Wicca: A Guide for the Solitary Practitioner            8
3798     1211                                       Private Eyes            8
3799     1211                                Vivir Para Contarla            8
3800     1211  Pride and Prejudice (Everyman Paperback Classics)           10
3801     1211                       Amours sorciÃƒ?Ã‚Â¨res (export)            5
3802     1211                                  Pebble in the Sky            7
3803     1211                                          Christine            9
3804     1211                    Something Wicked This Way Comes            9
3805     1211  Il bar sotto il mare (Universale economica Fel...            9
3806     1211  Midnight Champagne : A Novel (Mysteries &amp; ...            8
3807     1211  Who's Running Your Career?: Creating Stable Wo...            8
3808     1211               The Art and Craft of Feature Writing            2
3809     1211  Required Reading: Why Our American Classics Ma...            9
3810     1211  The Women of Brewster Place (Penguin Contempor...            7
3811     1211                                          The Lover            8
3812     1211                                          The Dwarf            9
3813     1211                           French Lessons: A Memoir            6
3814     1211                               The Boys of My Youth            8
3815     1211                                  Becoming a Writer            9
3816     1211                                     Fear of Flying            8
3817     1211             Three Musketeers (Wordsworth Classics)            9
3818     1211   A Circle of Silver (Circle of Silver Chronicles)            9
3819     1211                               The Valley of Horses            9
3820     1211                The Clan of the Cave Bear : a novel           10
3821     1211                               Pets' Letters to God            7
3822     1211                                Generation Warriors            9
3823     1211      The White Dragon (Dragonriders of Pern, V. 3)            9

In [40]:
pd.merge(user_1,user_2,on='Book.Title',how='outer')

,User.ID_x,Book.Title,Book.Rating_x,User.ID_y,Book.Rating_y
0,882.0,The Root Cellar,10.0,NaN,NaN
1,882.0,AixÃƒÂ² ÃƒÂ©s RÃƒÂ dio Pica (ColÃ‚Â¨lecciÃƒÂ³ Embat),10.0,NaN,NaN
2,882.0,Jurassic Park,5.0,NaN,NaN
3,882.0,Dress Your Family in Corduroy and Denim,9.0,NaN,NaN
4,882.0,"Ransom (Steel, Danielle)",9.0,NaN,NaN
...,...,...,...,...,...
90,NaN,The Valley of Horses,NaN,1211.0,9.0
91,NaN,The Clan of the Cave Bear : a novel,NaN,1211.0,10.0
92,NaN,Pets' Letters to God,NaN,1211.0,7.0
93,NaN,Generation Warriors,NaN,1211.0,9.0
94,NaN,"The White Dragon (Dragonriders of Pern, V. 3)",NaN,1211.0,9.0